.landingpage__wrapper{
    width: 100%;

}
@media only screen and (max-width: 600px) {
    .landingpage__wrapper {
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      .image{

          width:50%;
      }
    }
  }